caption {
    font-size: 3rem;

}

table, th, td {
    border: 1px solid;
  }

  table {
    width: 70%;
  }

  thead {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
  }

  .title {
    font-size: 60px;
  }

  table {
    margin: 2em;
  }

  table {
    padding: 5em;
  }


  body {
    background-color: lightblue;
  }

  .form {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 2em;
    font-size: 1.8em;
  }

  .button5 {
    border-radius: 2rem;
    font-size: 6rem;
}